.wrapper {
    font-size: 14px;
    font-family: "Roboto", "cursive";
    color: #000000;
    font-weight: 300;
    line-height: normal;
    box-sizing: border-box;
    padding: 0 30px;
    height: max-content;
}

.inner {
    font-size: 14px;
    font-family: "Roboto", "cursive";
    color: #000000;
    font-weight: 300;
    line-height: normal;
    box-sizing: border-box;
}

.products {
    font-size: 14px;
    font-family: "Roboto", "cursive";
    color: #000000;
    font-weight: 300;
    line-height: normal;
    list-style: none;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    vertical-align: top;
    width: 100%;
    padding: 20px;
    margin-top: 50px;

}

.box {
    background: linear-gradient(0deg, rgba(0, 202, 255, 1) 0%, #33cc66);
    border-radius: 20px;
    font-size: 14px;
    font-family: "Roboto", "cursive";
    color: #000000;
    font-weight: 300;
    line-height: normal;
    box-sizing: border-box;
    list-style: none;
    padding: 10px 10px 0 0;
    margin: 0 0 10px -10px;
}

.product {
    width: 20%;
    padding-left: 10px;
    clear: both;
    display: inline-block;
}

.product-item {
    font-size: 14px;
    font-family: "Roboto", "cursive";
    font-weight: 300;
    line-height: normal;
    list-style: none;
    box-sizing: border-box;
    color: #33cc66;
    text-decoration: none;
    display: block;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 20px;
}

.product-img {
    font-size: 14px;
    font-family: "Roboto", "cursive";
    font-weight: 300;
    line-height: normal;
    list-style: none;
    color: #33cc66;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.lazy-load {
    font-size: 14px;
    font-family: "Roboto", "cursive";
    font-weight: 300;
    line-height: normal;
    list-style: none;
    color: #33cc66;
    box-sizing: border-box;
    border: 0 none;
    vertical-align: middle;
    transition: all 0.6s ease;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.sale-off {
    list-style: none;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Roboto", "cursive";
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    background: rgba(0, 209, 255, 1);
    text-align: center;
}

.product-title {
    font-family: "Roboto", "cursive";
    font-weight: 300;
    line-height: normal;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    padding: 0 15px 5px;
    display: inline-block;
    color: #333333;
    height: 50px;
}

.product-price {
    font-size: 14px;
    font-family: "Roboto", "cursive";
    font-weight: 300;
    line-height: normal;
    list-style: none;
    color: #ff0000;
    box-sizing: border-box;
    padding: 0 15px 15px;
}

.current-price {
    font-size: 14px;
    line-height: normal;
    list-style: none;
    box-sizing: border-box;
    display: inline-block;
    font-family: "Roboto", "cursive";
    font-weight: bold;
    float: left;
    color: #ff0000;
}

.page {
    font-family: "Calibri", "cursive";
    float: right;
    border-radius: 50%;
    padding: 10px;
    margin: 20px 5px;
    line-height: 10px;
}

.page-clicked {
    font-weight: 600;
    background-color: #38ea73;
    border: inset 2px #72ff72;
}

.page-click {
    font-weight: 600;
    background-color: #cffddd;
    border: outset 2px #33cc33;
}

.original-price {
    font-family: "Roboto", "cursive";
    font-weight: 300;
    line-height: normal;
    list-style: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    color: #999999;
}

.carousel {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.carousel img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel img:first-child {
    opacity: 1;
}