.top {
    background-color: #f1f1f1;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.green-btn {
    background-color: #33cc33;
}

.btn {
    color: black;
    height: 40px;
}

.green-btn:hover {
    background-color: rgba(70, 255, 100, 1);
    color: black;
}

.logo {
    width: 60px;
}

.cats {
    margin: auto;
}

a {
    padding: 8px;
    color: black;
}

a:hover {
    color: #33cc66;
    text-decoration: none;
}

hr {
    border-top: 2px solid #33cc33;
    margin-top: 0;
}

form {
    margin: auto;
}

form input {
    border-radius: 5px;
    height: 40px;
    width: 250px;
}

.cart {
    width: 30px;
    margin-right: 30px;
}

.account {
    width: 50px;
    height: 50px;
    position: relative;
    list-style: none;
}
.sub-account {
    position: absolute;
    background-color: #f7fffa;
    width: 80px;
    margin-left: -30px;
    display: none;
}

.account:hover .sub-account {
    display: block;
}

.sub-account div {
    padding: 8px 0;
    margin-left: -5px;
    border-bottom: 1px solid #33cc66;
}

.sub-account div:last-child {
    border: none;
}

.sub-account div:hover {
    background-color: #33cc66;
}
.sub-account div:hover a{
    color: white;
}

.search {
    padding-left: 10px;
}